#heading {
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContent {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;


    #info-container {

        display: flex;
        flex-wrap: wrap;

        div {

            :hover {
                cursor:pointer;
                background-color: RGB(20, 20, 20);
                color: white;
            }
        }
    }
}