.Signuppage-container{
    $primary-color: cadetblue;
    $secondary-color:rgb(68, 148, 151);
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100%;
    width: 100%;
    align-items: center;
    height: 99vh;
    width: 99vw;
    a{
        all:unset;
        cursor: pointer;
        color: $secondary-color;
    }
    .signuppage-gridleft{
        height: 100%;
        
        background-color: $primary-color;
    }
    .signupFormHeader-signuppage{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div{
            font-size: 24px;
        }
    }
    .signupPage-gridright{
        // width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .signupInsidecontent{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 60%;
        // align-items: center;
        // justify-content: center;
    }

    .checkboxsignuppage{
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        align-items: center;
    }
    .signupformbottom-signuppage{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button{
            all: unset;
            background-color: $primary-color;
            height: 2.4rem;
            width: 6rem;
            text-align: center;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
        input{
            cursor: pointer;
        }
        label{cursor: pointer;}
    }
    input::placeholder{
        color: $primary-color;
        font-size: 16px;
    }
    .input-signuppage{
        all: unset;
        height: 2rem;
        // width: 10rem;
        border:solid 0.3px $primary-color;
        padding: 0.3rem;
        color: $secondary-color;
        font-weight: 450;
        font-size: 19px;
    }
    .inputBoxes-signupPage{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .grid-expand-signupPage{
        grid-column: span 2;
    }
}